html
{ height: 100%;}

* 
{ margin: 0;
  padding: 0;}

body
{ font: normal 85% Arial, Helvetica, sans-serif;
  background: #787878 url(../images/background.jpg) repeat;
  color: #000;
}

p
{ padding: 0 0 10px 0;
  color: #FFF;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% Arial, Helvetica, sans-serif;
  color: #FFF;
  text-shadow: 1px 1px #1D1D1D;
  letter-spacing: -1px;
  margin: 0 0 10px 0;}

h2
{ font: normal 165% Arial, Helvetica, sans-serif;}

h3
{ font: normal 130% Arial, Helvetica, sans-serif;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font: normal 150% Arial, Helvetica, sans-serif;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% Arial, Helvetica, sans-serif;
  color: #888;
  padding-bottom: 15px;}

a
{ color: #FFF;
  font-weight: bold;
  background: transparent;
  outline: none;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer, #content_bottom
{ margin-left: auto; 
  margin-right: auto;}

#main
{ background: transparent;}
  
#header
{ width: 1021px;
  height: 120px;
  background: transparent;}

#banner
{ width: 1021px;
  position: relative;
  height: 50px;
  padding: 15px 0 0 0;
  background: transparent;}

#menubar
{ width: 1021px;
  height: 50px;
  text-align: center; 
  margin: 0 auto;
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -webkit-border: 15px 15px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  } 
  
#banner
{ width: 1021px;
  position: relative;
  height: 50px;
  padding: 15px 0 0 0;
  background: transparent;}

#menubar
{ width: 1021px;
  height: 50px;
  text-align: center; 
  margin: 0 auto;
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -webkit-border: 15px 15px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  } 
  
#welcome
{ width: 1000px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  } 
  
#welcome_slogan
{ width: 1000px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;}   
   
#welcome H1
{ font: normal 400% Arial, Helvetica, sans-serif;

  color: red;
  }

#welcome_slogan H1
{ font: normal 200% Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  color: #FFF;
  text-shadow: 1px 1px #006400;}  
  
ul#menu
{ margin:0;
  margin: 0 0 0 20px;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  height: 24px;
  text-shadow: 0px -1px 0px #000;
  padding: 16px 20px 10px 20px;
  background: transparent; } 
  
ul#menu li.current a
{ color: #FFF;
  background: #1E90FF;
  text-shadow: none;}
  
ul#menu li:hover a
{ color: #FFF;
  background: #1E90FF;
  text-shadow: none;}

#site_content
{ width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  margin: 0 auto;
  background: #20B2AA;
  border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border: 0px 0px 15px 15px;}
 
.myButton {
	-moz-box-shadow: 0px 0px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 0px 0px 0px #f0f7fa;
	box-shadow: 0px 0px 0px 0px #f0f7fa;
 background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -webkit-border: 15px 15px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 11px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #0043a8));
	background:-moz-linear-gradient(top, #019ad2 5%, #0043a8 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #0043a8 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #0043a8 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #0043a8 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #0043a8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#0043a8',GradientType=0);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}

.buttons {
  border-radius: 4px;
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 15px 15px 0px 0px;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 02px;
  width: 950px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 750px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}
/* css message start */
.message-replay {max-width: 500px;text-align: left;border: 1px solid #ddd;padding: 15px;margin: 20px auto;border-radius: 10px;}
.message-replay .form-control{width: 100%;direction: ltr;}
.message-replay .frn-attachment{padding: 4px;border: 1px solid #ccc;background-color: #fff;border-radius: 5px;}
.replay-send{margin: 20px auto;}
.error-con {border: 1px solid #f00 !important;}
.msg-add-btn a.btn{
    text-align: center;
    background: #0043A8;
    background: -moz-linear-gradient(#43A9FF, #0043A8);
    background: -o-linear-gradient(#43A9FF, #0043A8);
    background: -webkit-linear-gradient(#43A9FF, #0043A8);
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border: 15px 15px 15px 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    color: #fff;
    border: none;
    margin-bottom: 10px;
}
.message-view {direction: ltr;text-align: left;}
.message-reply-main {padding: 15px;margin: 20px auto;border: 1px solid #ddd;}
.comment-inner {margin-top: 10px;margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px solid #ddd;}
.comment-inner p{color: #000;padding: 0px;margin: 0px;}
.comment-inner:last-of-type {border-bottom: none;padding-bottom: 0px;}
.post-cmnt-author span {font-weight: bold;}
.post-cmnt-info {float: right;}
.post-cmnt-author {float: left;}
.post-cmnt-text {margin: 5px auto;}
.unread_message td {background-color: rgba(235, 47, 47, 0.9) !important;color: #fff;}
.badge-custm a{position:relative;}
.badge-custm a span.badge {position: absolute;right: 0px;top: 5px;}
/* css message start */


.sidebar-header{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0px;
    min-height: 100%;
    width: 220px;
    z-index: 810;
    background: #000080;
        border-radius: 5px;
}
.sidebar-header #menubar{
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    box-shadow: none;
}
.sidebar-header ul#menu{
    width: 100%;
    height: 100%;
    margin: auto;
}
.sidebar-header ul#menu li a{
    width: 100%;
    padding: 15px 0px 15px 30px;
    display: block;
    margin: auto;
    box-sizing: border-box;
    height: auto;
    float: unset;
    text-transform: capitalize;
    text-align: left;
}
.sidebar-header .badge-custm a span.badge{
    right: 100px;
}
.body-content{
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 220px;
    z-index: 820;
    min-height: 100%;
}
.body-content #site_content{
    width: 100%;
    box-sizing: border-box;
}
.body-content .msg-add-btn a.btn,
.body-content .btn-primary,
.body-content .myButton,
.body-content th,
.body-content .buttons,
.body-content .sidebar h2,
.body-content .button_small,
.body-content .pagination a,
.body-content .btns,
.body-content fieldset legend{
    background: #000080;
    background-color: #000080;
}
.body-content fieldset{
    border: 1px solid #FF7F50;
}
.img-logos{
    padding: 11px 0px;
    border-bottom: 1px solid #6b6b6b;
    text-align: center;
}
.bheader-title{
    text-align:right;font-size:0.75em;background-repeat: repeat-x;padding: 18px;background-color: #000080;
}
.form-bgcolor{
    background: #000080;
    background-color: #000080;
    box-shadow: none;
    border: 3px double #000000 !important;
}
/*.body-content .form-bgcolor legend{
    background: #000080;
    background-color: #000080;
}*/

@media only screen and (max-width:1100px) {
    body{
        direction: ltr;
    }

}